<header class="header fade-in">
    <h1 class="typewriter">Desafio 1 — A memória que mudou tudo</h1>
</header>

<div class="center-box fade-in">

    <p>Qual momento marcou tudo entre nós?</p>

    <div class="card-option correct" onclick="loadView('desafio2')">
        🤍 O primeiro abraço que nunca mais saiu da minha mente
    </div>

    <div class="card-option wrong" onclick="loadView('erro')">
        🎵 A primeira música que ouvimos juntos
    </div>

    <div class="card-option wrong" onclick="loadView('erro')">
        💫 A primeira foto que tiramos
    </div>

</div>
