<header class="header fade-in">
    <h1 class="typewriter">Desafio 4 — Nossa data</h1>
</header>

<div class="center-box fade-in">

    <p class="frase">Escolha a data que mudou tudo…</p>

    <div class="date-options-16">

        <div onclick="loadView('erro')" class="date-btn">10 / 11 / 2022</div>
        <div onclick="loadView('erro')" class="date-btn">20 / 12 / 2021</div>
        <div onclick="loadView('erro')" class="date-btn">05 / 05 / 2019</div>
        <div onclick="loadView('erro')" class="date-btn">30 / 08 / 2022</div>

        <div onclick="loadView('erro')" class="date-btn">15 / 01 / 2023</div>
        <div onclick="loadView('erro')" class="date-btn">02 / 02 / 2022</div>
        <div onclick="loadView('erro')" class="date-btn">25 / 12 / 2020</div>
        <div onclick="loadView('erro')" class="date-btn">01 / 01 / 2021</div>

        <div onclick="loadView('erro')" class="date-btn">05 / 06 / 2020</div>
        <div onclick="loadView('erro')" class="date-btn">14 / 07 / 2022</div>

        <div onclick="loadView('desafio5')" class="date-btn correct">12 / 12 / 2022</div>

        <div onclick="loadView('erro')" class="date-btn">09 / 09 / 2022</div>

        <div onclick="loadView('erro')" class="date-btn">03 / 03 / 2023</div>
        <div onclick="loadView('erro')" class="date-btn">28 / 10 / 2021</div>
        <div onclick="loadView('erro')" class="date-btn">17 / 04 / 2022</div>
        <div onclick="loadView('erro')" class="date-btn">22 / 11 / 2022</div>

    </div>

</div>
