<header class="header fade-in">
    <h1 class="typewriter">Desafio 3 — Qual pulsa como o meu?</h1>
</header>

<div class="center-box fade-in">

    <p>O coração correto pulsa suave, como o meu por você.</p>

    <div class="pulse-grid-10">

        <div onclick="loadView('erro')" class="heart-fast">💗</div>
        <div onclick="loadView('erro')" class="heart-fast">💗</div>

        <div onclick="loadView('desafio4')" class="heart-normal correct">💗</div>

        <div onclick="loadView('erro')" class="heart-fast">💗</div>
        <div onclick="loadView('erro')" class="heart-fast">💗</div>

        <div onclick="loadView('erro')" class="heart-fast">💗</div>
        <div onclick="loadView('erro')" class="heart-fast">💗</div>
        <div onclick="loadView('erro')" class="heart-fast">💗</div>
        <div onclick="loadView('erro')" class="heart-fast">💗</div>
        <div onclick="loadView('erro')" class="heart-fast">💗</div>

        <div onclick="loadView('erro')" class="heart-fast">💗</div>
        <div onclick="loadView('erro')" class="heart-fast">💗</div>
        <div onclick="loadView('erro')" class="heart-fast">💗</div>
        <div onclick="loadView('erro')" class="heart-fast">💗</div>
        <div onclick="loadView('erro')" class="heart-fast">💗</div>

    </div>

</div>
